<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Komposter</string>
    <key>CFBundleIconFile</key>
    <string>appIcon.icns</string>
    <key>CFBundleDisplayName</key>
    <string>Komposter</string>
    <key>CFBundleIdentifier</key>
    <string>com.TDA.Komposter</string>
    <key>CFBundleVersion</key>
    <string>2.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>Kpst</string>
    <key>CFBundleExecutable</key>
    <string>Komposter</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.6.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>(c) 2011 Firehawk/TDA</string>
  </dict>
</plist>
